<main>
  <h4 class="d-flex justify-content-center mt-5 mb-3">ログイン画面</h4>
  <div class="d-flex justify-content-center">
    <div class="form-group">
      <%= form_with url: login_path, local: true do |form| %>
      <%= form.label :email, "メールアドレス" %>
      <p><%= form.email_field :email %></p>
      <%= form.label :password, "パスワード" %>
      <p><%= form.password_field :password %></p>
      <%= form.submit "ログイン", class: "btn btn-primary", style: "width:100%;" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "まだ登録がお済みでない方はこちら", signup_path %>
  </div>
  </div>
</main>