<main>
  <%= form_with model: @user do |form| %>
    <h2 class="text-center mt-5">ユーザ情報修正</h2>

    <table width="60%" style="margin: auto;">
      <tr height="40">
        <td align="center">氏名</td>
        <td>
          <%= form.label :last_name, "姓" %>
          <%= form.text_field :last_name, value:@user.last_name %>
          <%= form.label :first_name, "名" %>
          <%= form.text_field :first_name, value:@user.first_name %>
        </td>
      </tr>

      <tr height="40">
        <td align="center">郵便番号</td>
        <td>
          <%= form.label :zipcode, "〒" %>
          <%= form.text_field :zipcode, value:@user.zipcode %>
        </td>
      </tr>

      <tr height="40">
        <td align="center"><%= form.label :prefecture, "都道府県" %></td>
        <td>
          <%= form.text_field :prefecture, value:@user.prefecture, style:"width: 100%;" %>
        </td>
      </tr>

      <tr height="40">
        <td align="center"><%= form.label :municipality, "市区町村" %></td>
        <td colspan="2">
          <%= form.text_field :municipality, value:@user.municipality, style:"width: 100%;" %>
        </td>
      </tr>

      <tr height="40">
        <td align="center"><%= form.label :address, "番地" %></td>
        <td>
          <%= form.text_field :address, value:@user.address, style:"width: 100%;" %>
        </td>
      </tr>

      <tr height="40">
        <td align="center"><%= form.label :apartments, "マンション部屋番号" %></td>
        <td>
          <%= form.text_field :apartments, value:@user.apartments, style:"width: 100%;" %>
        </td>
      </tr>

      <tr height="40">
        <td align="center"><%= form.label :email, "メールアドレス" %></td>
        <td>
          <%= form.text_field :email, value:@user.email, style:"width: 100%;" %>
        </td>
      </tr>

      <tr height="40">
        <td align="center"><%= form.label :phone_number, "電話番号" %></td>
        <td>
          <%= form.text_field :phone_number, value:@user.phone_number, style:"width: 100%;" %>
        </td>
      </tr>
    </table>

    <div class="row mt-5">
      <div class="col-5">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" type="submit">修正</button>
        </div>
      </div>

      <div class="col-5 offset-2">
        <button class="btn btn-danger" type="submit">退会</button>
      </div>
    </div>
  <% end %>
</main>
