<main>
  <div class="container">
    <table class="table mt-5">
      <thead class="table-sm h4">
        <tr>
          <th class="text-left" width="5%">No</th>
          <th class="text-left" width="20%">注文番号</th>
          <th class="text-left" width="40%">お届け先</th>
          <th class="text-left" width="25%">備考</th>
          <th class="text-left border-0" width="20%"></th>
        </tr>
      </thead>
      <tbody class="h6 font-weight-normal">
        <% @orders.each.with_index(1) do |order, i| %>
          <tr>
            <th scope="row" class="font-weight-normal"><%= i %></th>
            <td class="text-left"><%= order.order_number %></td>
            <td class="text-left">
              〒<%= order.user.zipcode %><br>
              <%= order.user.prefecture %> <%= order.user.municipality %> <%= order.user.address %><br>
              <%= order.user.last_name %> <%= order.user.first_name %> 様
            </td>
            <td class="text-left">
              <%= order.order_date %><br>
              <p>注文状態：
                <% if order.shipment_prepared? %>
                  準備中
                <% else %>
                  発送済
                <% end %>
              </p>
            </td>
            <td class="border-0 align-middle">
              <%= link_to "詳細", order_path(order.id), class: "btn btn-primary btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <%= paginate @orders %>
  </div>
</main>
