<main>
  <div class="container">
    <div class="jumbotron bg-white">
      <% if @order %>
        <div class="card border-dark mt-3">
          <div class="cord-body px-3 ml-3">
            <h4 class="mt-4">お届け先</h4>
            <p class="ml-3">〒<%= @order.user.zipcode%>　<%= @order.user.prefecture %> <%= @order.user.municipality %> <%= @order.user.address %></p>
            <p class="offset-sm-2"><%= @order.user.last_name %> <%= @order.user.first_name %> 様</p>
          </div>
        </div>
        <div class="mt-5 ml-3">
          <p>注文番号： <%= @order.order_number %></p>
          <p>注文状態：
            <% if @order.shipment_prepared? %>
              準備中
            <% else %>
              発送済
            <% end %>
          </p>
        </div>
        <% if @order.shipment_prepared? %>
          <div class="text-right">
              <button type="button" class="btn btn-danger">注文をキャンセルする</button>
          </div>
        <% end %>
        <table class="table table-borderless mt-3">
          <thead>
            <tr>
              <th scope="col" class="border-top border-bottom">No</th>
              <th scope="col" class="border-top border-bottom">商品名</th>
              <th scope="col" class="border-top border-bottom">商品カテゴリ</th>
              <th scope="col" class="border-top border-bottom">値段</th>
              <th scope="col" class="border-top border-bottom">個数</th>
              <th scope="col" class="border-top border-bottom">小計</th>
              <th scope="col" class="border-top border-bottom">備考</th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_details.each.with_index(1) do |order_detail, i| %>
              <tr>
                <th scope="row"><%= i %></th>
                <td><%= order_detail.product.product_name %></td>
                <td><%= order_detail.product.category.category_name %></td>
                <td><%= order_detail.product.price %></td>
                <td><%= order_detail.order_quantity %> 個</td>
                <td><%= order_detail.product.price * order_detail.order_quantity %> 円</td>
                <td>注文状態：<%= order_detail.shipment_status.shipment_status_name %></td>
                <% @sum_price += order_detail.product.price * order_detail.order_quantity %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="border-top border-dark">
          <div  class="mt-2 offset-sm-6">
            <p class="ml-4">合計　　　　　<%= @sum_price %> 円</p>
          </div>
        </div>
        <div class="text-right mb-5">
          <button type="button" class="btn btn-info">注文履歴に戻る</button>
        </div>
      <% else %>
        <div class="text-center">
          <h1>該当の注文は見つかりませんでした…</h1>
          <p class="mt-5">注文履歴画面に戻り、やり直してください</p>
          <button type="button" class="btn btn-primary">注文履歴へ</button>
        </div>
      <% end %>
    </div>
  </div>
</main>
