<main>

  <div class="container">
    <div class="row">
      <div class="col-12 card border-dark mt-5">
        <div class="cord-body ml-3 mb-2">
          <h4 class="mt-4">お届け先</h4>
          <p class="mb-2" style="padding-left: 20px;">〒○○○−○○○○　富山県南砺市○○　○-○-○</p>
          <p style="padding-left: 160px;">○○　××様</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="table mt-5 ml-3 border-dark">
        <thead>
          <tr class="text-center">
            <th class="border-bottom border-dark" style="width:13%;">
              No
            </th>
            <th class="border-bottom border-dark" style="width:18%;">
              商品名
            </th>
            <th class="border-bottom border-dark" style="width:15%;">
              商品カテゴリ
            </th>
            <th class="border-bottom border-dark" style="width:15%;">
              値段
            </th>
            <th class="border-bottom border-dark" style="width:15%;">
              個数
            </th>
            <th class="border-bottom border-dark" style="width:15%;">
              小計
            </th>
          </tr>
        </thead>
        <tbody>
          <%= @cart.each.with_index(1) do |cart, i| %>
            <tr class="text-center">
              <th class="align-middle">
                <%= i %>
              </th>
              <td class="align-middle">
                <%= cart[0] %>
              </td>
              <td class="align-middle">
                <%= cart[1] %>
              </td>
              <td class="align-middle">
                <%= cart[2] %> 円
              </td>

              <% #数量変更 %>
              <%= form_with url: change_item_quantity_path, method: :patch, local: true do |f| %>
                <td class="align-middle">
                  <%= f.number_field :quantity, value: cart[3], min: 1, class: "btn btn-outline-dark"%> 個
                </td>
                <td class="align-middle">
                  <%= cart[4] %> 円
                </td>
              <% end %>

              <% #商品削除 %>
              <%= form_with url: destroy_carts_item_path, method: :delete, local: true do |f| %>
                <td class="border-0 align-middle">
                  <%= f.submit "削除", value: (delete_number = i) , class: "btn btn-danger" %>
                </td>
              <% end %>
            </tr>

          <% end %>
          <tr class="text-center">
            <th class="border-top-0 border-bottom border-dark align-middle">
              2
            </th>
            <td class="border-top-0 border-bottom border-dark align-middle">
              商品2
            </td>
            <td class="border-top-0 border-bottom border-dark align-middle">
              食料品
            </td>
            <td class="border-top-0 border-bottom border-dark align-middle">
              2000円
            </td>
            <td class="border-top-0 border-bottom border-dark align-middle">
              <button type="button" class="btn btn-outline-dark">2</button>&nbsp;&nbsp;個
            </td>
            <td class="border-top-0 border-bottom border-dark align-middle">
              4000円
            </td>
            <td class="border-0">
              <a class="btn btn-danger" href="#" role="button">削除</a>
            </td>
          </tr>
          <tr class="text-center">
            <th class="border-bottom-0 align-middle">
            </th>
            <td class="border-bottom-0 align-middle">
            </td>
            <td class="border-bottom-0 align-middle">
            </td>
            <td class="border-bottom-0 align-middle">
            </td>
            <td class="border-bottom-0 align-middle">
              合計
            </td>
            <td class="border-bottom-0 align-middle">
              9000円
            </td>
          </tr>
          <tr class="text-right">
            <th class="border-0">
            </th>
            <td class="border-0">
              <a class="btn btn-success " href="#" role="button">買い物を続ける</a>
            </td>
            <td class="border-0">
            </td>
            <td class="border-0">
            </td>
            <td class="border-0">
              <a class="btn btn-primary" href="#" role="button">注文を確定する</a>
            </td>
            <td class="border-0 align-middle">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>