<main>
  <div class="container">
    <div class="row">
      <div class="col-12 card border-dark mt-5">
        <div class="cord-body ml-3 mb-2">
          <h4 class="mt-4">お届け先</h4>
          <p class="mb-2" style="padding-left: 20px;">
            〒<%= current_user.zipcode %>
            <%=  current_user.prefecture %>
            <%=  current_user.municipality %>
            <%=  current_user.address %>
            <%=  current_user.apartments %>
          </p>
          <p style="padding-left: 160px;">
            <%=  current_user.last_name %>
            <%=  current_user.first_name %>
            様</p>
        </div>
      </div>
    </div>
  </div>
  <% if @cart.blank? %>
  <h1 class="text-center">カートに商品はありません</h1>
  <% else %>
  <div class="container">
    <div class="row">
      <table class="table mt-5 ml-3 border-dark">
        <thead>
          <tr class="text-center">
            <th class="border-bottom border-dark" style="width:13%;">
              No
            </th>
            <th class="border-bottom border-dark" style="width:18%;">
              商品名
            </th>
            <th class="border-bottom border-dark" style="width:15%;">
              商品カテゴリ
            </th>
            <th class="border-bottom border-dark" style="width:15%;">
              値段
            </th>
            <th class="border-bottom border-dark" style="width:15%;">
              個数
            </th>
            <th class="border-bottom border-dark" style="width:15%;">
              小計
            </th>
          </tr>
        </thead>
        <tbody>
          <% @cart.each.with_index(1) do |cart, i| %>
          <tr class="text-center">
            <th class="align-middle">
              <%= i %>
            </th>
            <td class="align-middle">
              <%= cart[:name] %>
            </td>
            <td class="align-middle">
              <%= cart[:category_name] %>
            </td>
            <td class="align-middle">
              <%= cart[:price] %> 円
            </td>

            <% #数量変更 %>
            <%= form_with url: change_item_quantity_path, method: :patch, local: true do |f| %>
            <td class="align-middle">
              <%= f.number_field :quantity, value: cart[:quantity], min: 1, class: "btn btn-outline-dark"%> 個
            </td>
            <td class="align-middle">
              <%= cart[:sub_total] %> 円
            </td>
            <td>
              <%= hidden_field_tag :product_id, cart[:product_id] %>
              <%= f.submit "更新", class: "btn btn-primary" %>
            </td>
            <% end %>

            <% #商品削除 %>
            <%= form_with url: destroy_carts_item_path, method: :delete, local: true do |f| %>
            <td class="border-0 align-middle">
              <%= hidden_field_tag :product_id, cart[:product_id] %>
              <%= f.submit "削除", class: "btn btn-danger" %>
            </td>
            <% end %>
          </tr>
          <% end %>
          <%#### TODO: 合計の位置を右に修正 ####%>
          <tr class="text-center">
            <td class="border-bottom-0 align-right"></td>
            <td class="border-bottom-0 align-right"></td>
            <td class="border-bottom-0 align-right"></td>
            <td class="border-bottom-0 align-right"></td>
            <td class="border-bottom-0 align-right">
              合計
            </td>
            <td class="border-bottom-0 align-right">
              <%= @cart_total_price %>円
            </td>
          </tr>
          <tr class="text-right">
            <th class="border-0">
            </th>
            <td class="border-0">
              <%#### TODO: 商品検索のパスを指定する ####%>
              <%= link_to "買い物を続ける", "#", class: "btn btn-success"%>
            </td>
            <td class="border-0">
            </td>
            <td class="border-0">
            </td>
            <td class="border-0">
              <%= link_to "注文を確定する", orders_create_path(session[:user_id]), method: :post,  class: "btn btn-primary"%>
            </td>
            <td class="border-0 align-middle">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</main>