<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="navbar-nav mr-auto">
        <h1><%= link_to "探求学園Rails専攻", root_path, class: "nav-link navbar-brand"%></h1>
      </div>
      <div>
        <ul>
          <% if logged_in? %>
            <p><%= current_user.last_name %> <%= current_user.first_name %> さん</p>
          <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if logged_in? %>
            <%#### TODO: 注文機能のパスを記入する ####%>
            <%= link_to "商品検索", products_path, class: "nav-link text-dark"%>
            <%= link_to "カート", carts_show_path, class: "nav-link text-dark"%>
            <%= link_to "注文履歴", "#", class: "nav-link text-dark"%>
            <%= link_to "ユーザ情報", user_path(current_user.id), class: "nav-link text-dark"%>
            <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link text-dark" %>
          <% else %>
            <%= link_to "新規登録", signup_path, class: "nav-link text-dark" %>
            <%= link_to "ログイン", login_path, class: "nav-link text-dark" %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
